<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">STRUCTURED CABLING</h1>
  </div>
</div>

<div class="jumbotron black">
  <div class="container">
    <div class="row">
    	<div class="col-md-offset-3 col-md-6">
    		<div class="carousel slide" id="gallery-carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gallery-carousel" data-slide-to="1"></li>
            <li data-target="#gallery-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img class="tales" src="/assets/structured_cabling_1.png" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/structured_cabling_2.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/structured_cabling_3.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/structured_cabling_4.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/structured_cabling_5.jpg" alt="Slider image">
            </div>
          </div> <!-- end carousel-inner -->

          <a href="#gallery-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#gallery-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
		    </div> <!-- end carousel -->
    	</div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<p>
				A <span>structured cabling system</span> is a complete system of cabling and associated hardware, which provides a comprehensive telecommunications infrastructure. Structured cable networks (SCN) are the backbone of any modern telecommunication system. It’s a multipurpose information-carrying medium combining Local Area Networks, Telephony networks, Information Security systems, Video surveillance.
			</p>
		</div>
		<div class="col-md-12">
			<p>
				The structured cabling is a system that provides a very "structured" approach to the entire cabling system—a single-mixed media network that handles all information traffic like voice, data, video, and even big complex building management systems. In brief, it could be described as a system that comprises a set of transmission products, applied with engineering design rules that allow the user to apply voice, data, and signals in a manner that maximizes data rates.
			</p>
		</div>
		<div class="col-md-12">
			<p>
				Structured cabling divides the entire infrastructure into manageable blocks and then attempts to 
				integrate these blocks to produce the high-performance networks.
			</p>
		</div>
		<div class="col-md-12">	
			<h2 class="text-center head-text">
				What we do?
			</h2>
				<ol class="list-group">
					<li class="list-group-item">Cable pathways: shafts, conduits, cable raceways, and floor penetrations (sleeves or slots) that provide routing space for the cables.</li>
					<li class="list-group-item">Cabling Types: optical fiber, twisted-pair copper, coaxial copper, or some combination.</li>
					<li class="list-group-item">Connecting blocks, patch panels, interconnections, cross-connections, or some combination of these components</li>
					<li class="list-group-item">Telecommunications Room (TR) and Telecommunications Enclosure (TE)</li>
				</ol>
		</div>
	</div>
</div>