<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">DATA CENTER SERVICES</h1>
  </div>
</div>

<div class="jumbotron black">
  <div class="container">
    <div class="row">
    	<div class="col-md-offset-3 col-md-6">
    		<div class="carousel slide" id="gallery-carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gallery-carousel" data-slide-to="1"></li>
            <li data-target="#gallery-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img class="tales" src="/assets/data_center_1.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/data_center_2.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/data_center_3.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/data_center_4.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/data_center_5.png" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/data_center_6.jpg" alt="Slider image">
            </div>
          </div> <!-- end carousel-inner -->

          <a href="#gallery-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#gallery-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
		    </div> <!-- end carousel -->
    	</div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<p>
				A data center is a facility used to house computer systems and associated components, such as telecommunications and storage systems. It generally includes redundant or backup power supplies, redundant data communications connections, environmental controls (e.g., air conditioning, fire suppression) and various security devices.
			</p>
		</div>
		<div class="col-md-12">	
			<h2 class="text-center head-text">
				What we do?
			</h2>
				<ol class="list-group">
					<li class="list-group-item">
            Supply and Installation of data center cabinets.     
          </li>
          <li class="list-group-item">
            Installation of the Cold aisle containments / hot aisle containments / curtain solutions.
          </li>
          <li class="list-group-item">
            Power Solutions
          </li>
          <li class="list-group-item">
            Cooling Solutions: CRAC / CRAH units, Profusion racks, Chill water / DX systems
          </li>
          <li class="list-group-item">
            UPS / batteries, Generators
          </li>
          <li class="list-group-item">
            Raised flooring , false ceiling and other civil works in the data center
          </li>
          <li class="list-group-item">
            Fire Fighting: FM 200 solution, In rack fire suppression units.
          </li>
          <li class="list-group-item">
            Data Center Infrastructure Management
          </li>
          <li class="list-group-item">
            Data Center Accessories: Shoe cover dispensers, sticky mats , anti- static mats & cool boot.
          </li>
				</ol>
		</div>
	</div>
</div>