<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">ENTERPRISE INFRASTRUCTURE SERVICES</h1>
  </div>
</div>

<div class="jumbotron black">
  <div class="container">
    <div class="row">
    	<div class="col-md-offset-3 col-md-6">
    		<div class="carousel slide" id="gallery-carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gallery-carousel" data-slide-to="1"></li>
            <li data-target="#gallery-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img class="tales" src="/assets/EIS1.png" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/EIS2.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/EIS3.jpg" alt="Slider image">
            </div>
            <div class="item">
              <img class="tales" src="/assets/EIS4.jpg" alt="Slider image">
            </div>
          </div> <!-- end carousel-inner -->

          <a href="#gallery-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#gallery-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
		    </div> <!-- end carousel -->
    	</div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<ol>
				<li>Servers and switches</li>
        <li>Storage systems</li>
        <li>Network security services</li>
			</ol>
		</div>
	</div>
</div>