<!DOCTYPE html>
<html>
<head>
  <title>4CGS</title>
  <%= csrf_meta_tags %>
  <title>4CGS Technologies</title>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/" class="navbar-brand"></a>
      </div> <!-- end navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a href="#" class="btn btn-default navbar-btn navbar-right">Contact Us</a>

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">About</a></li>
              <li class="divider"></li>
              <li><a href="#">Mission</a></li>
              <li class="divider"></li>
              <li><a href="#">Vision</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products and services <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/structured-cabling">Structured Cabling</a></li>
              <li class="divider"></li>
              <li><a href="/data-center-services">Data Center Services</a></li>
              <li class="divider"></li>
              <li><a href="/enter-infrastructure-services">Enter Infrastructure Services</a></li>
              <li class="divider"></li>
              <li><a href="/end-user-services">End User Services</a></li>
              <li class="divider"></li>
              <li><a href="/software-services">Software Services</a></li>
              <li class="divider"></li>
              <li><a href="/web-services">Web Services</a></li>
              <li class="divider"></li>
              <li><a href="/lv-systems">LV Systems</a></li>
              <li class="divider"></li>
              <li><a href="e-commerce">E-Commerce</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Panduit</a></li>
              <li class="divider"></li>
              <li><a href="#">Partner 2</a></li>
              <li class="divider"></li>
              <li><a href="#">Partner 3</a></li>
            </ul>
          </li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div> <!-- end collapse -->
    </div> <!-- end container -->
  </nav>


  <%= yield %>

<footer>
    <div class="container"> 
      <div>
        <p class="center">&copy; Copyright 2014.</p>
      </div> <!-- end container -->
    </div> 
    </footer>

</body>

<script type="text/javascript">
  $(function(){
      $('.carousel[data-type="multi"] .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<2;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      
      next.children(':first-child').clone().appendTo($(this));
    }
});
  });
</script>
</html>
